* {
 
}


.modal2 {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  opacity: 0;  
  transition: opacity 0.3s;
  z-index: 999;
   /* width: 100vw;
  height: 100vh; */
  margin: 0;
  padding: 0;
  
  
}
/* 
.modal:target {
  display: block;
} */

.modal2::-webkit-scrollbar {
  display: none;
}

.modal2{
  
-ms-overflow-style: none;  /* IE и Edge */
scrollbar-width: none;  /* Firefox */
}


.modal-wrapper2 {
 position: fixed; 
 height: 80px;
 top:110px;
 width: 300px;
 display: flex;
 justify-content: end;
 align-items: end;
 /* align-items: flex-end; */
 /* bottom: 66px;  */
 right: 0;
 z-index: 988; 
}

.nnn2{
  
  width: 600px;
  height: 100%;
min-width: 100px;
  position:relative;

  /* max-height:515px; */
  /* display: flex; 
  align-items: end; */
  margin-bottom: 0px; 
  margin-top: 0px;  
  background-color: #2c3340 ;
  /* background-color: blue;  */
  border-radius: 0px 0px 5px 5px;
  overflow:scroll;
  transform: translateY(0px); 
  margin: 20px;
  z-index: 13333;
  /* background-color: white;} */
}

  .nnn::-webkit-scrollbar {
    display: none;
  }

  .nnn2{
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
  }

.modal-content2 {
height: auto;
}

 .modal-close-button2 {
  border: 0px;
  position: fixed;
  top: 22px;
  right: 19px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: 500;
  /* padding: 10px; */
  background-color: #2c3340 ; 
  align-items: center;
  color: rgb(255, 255, 255, 0.6); 
  z-index: 12222;
  cursor: pointer;
}

.modal-close-button2:hover{
  color: white;
}

/* open */

.modal2--entering,
.modal2--entered {
  opacity: 1;
}

.modal2--entering .modal-content2,
.modal2--entered .modal-content2 {
  transform: translateY(0px); 
  
}

/* close */

.modal2--exiting,
.modal2--exited {
  opacity: 1;
}

.modal2--exiting .modal-content2,
.modal2--exited .modal-content2 {

  /* transform: translateY(-350px); */
   /* transform: translateX(0px);
  
  transform: translateY(0px);  */
}
.modal32 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vm;
  height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  /* opacity: 0; */
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.3s;
  z-index: 15999;
}

.modalwrapper3s {
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  z-index: 15999;
}

.modalcontent3s {
  position: relative;
  margin: 20px;
  width: 100%;
  max-width: 353px;
  min-width: 290px;
  height: auto;
  /* max-height: 390px;
  min-height: 350px; */
  border-radius: 20px;
  background-color:#ffffff;
  padding: 0px 3.7% 0px 3.7%;
  /* transform: translateY(-50px); */
  transition: opacity 0.3s, transform 0.3s;
  z-index: 15999;
}

.modalclosebutton3s {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 15999;
}



/* open */

.modal3--entering,
.modal3--entered {
  opacity: 1;
}

.modal3--entering .modal-content,
.modal3--entered .modal-content {
  transform: translateY(0);
}

/* close */

.modal3--exiting,
.modal3--exited {
  opacity: 0;
}

.modal3--exiting .modal-content,
.modal3--exited .modal-content {
  transform: translateY(-50px);
}

@media screen and (max-width: 580px) {

  .modal-close-button {
    border: 0px;
    position: fixed;
    top:  9px;
    right: 14px;
    width: 35px;
    height: 27px;
    /* padding: 10px; */
    background-color: rgb(52, 29, 29, 0); 
    z-index: 12222;
    cursor: pointer;
   
  }

}
