@font-face {
  /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
  src: url(/src/fonts/OpenSans.ttf);
  /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
  font-family: OpenSans;
  /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}

.but{
background-color: #222;
border: none;
margin-left: 5px;
cursor: pointer;
}

.dropdown-content1{
  display: none;
    color: #888787;
    color: #9a9a9a;
  padding-bottom: 0px;
  cursor: pointer;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 2;
  font-weight: 100;
}

.dropdown-content2{
  display: none;
 

  padding-bottom: 0px;
  cursor: pointer;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 2;
  font-weight: 100;
}

.dropdown-content3{
  display: none;
  color: #888787;
  padding-bottom: 0px;
  cursor: pointer;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 2;
  font-weight: 100;
}

.dropdown-content2{
  display: none;
  color: #9a9a9a;
  padding-bottom: 0px;
  cursor: pointer;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 2;
  font-weight: 100;
}



.dropdown-content1:hover{
 
  color: #888787;
  color: rgb(208, 208, 208);
 
}

.show {display: block;}

.show2 {display: block;}

.str2{
width: 14px;
height: 13px;
color: #888787;
padding-top: 8px;
padding-right: 80px;
}

.t{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #888787;
  cursor: pointer;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 2;
  font-weight: 100;
  
  }

  .t:hover{
    color: rgb(208, 208, 208);
    cursor: pointer;
    }

.input {
  border: 3px solid red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
border: none;
-webkit-box-shadow: 0 0 0px 0px #FFFFFF inset;
transition: background-color 5000s ease-in-out 3000s;
}

.navbar {
  background-color: #302f2f;
  /* height: 80px; */
  display: flex;
  justify-content: start;
  align-items: center;
  /* height: 100vh;
  width: 100%; */
}

.menu-bars {
  /* overflow-y: scroll; */
  color: #888787;
  /* margin-right: 40px; */
  /* background-color: aquamarine; */
}

.menu-bars2 {
  /* overflow-y: scroll; */
  color: #888787;
  margin-right: 80px; 
  padding-left: 20px;
  margin-top: -20px;
  /* background-color: aquamarine; */
}

.menu-bars2:hover {
  /* overflow-y: scroll; */
  color: rgb(208, 208, 208);
}

.nav-menu {
  background-color: #232323;
  height: 100vh;
  display: flex;
  justify-content: left;
  position: fixed;
  z-index: 3;
  top: 0;
  left: -100%;
  transition: 1s;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 16px;
  /* overflow-y:auto ; */
  transition: 0;
}

.nav-menu.active {
  left: 0;
  /* padding-right: 20px; */
  margin: 0px;
  
  transition: 0;
  position: fixed;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: 0s;
  
}

 .obsh{
  background-color: #222;
  width: 350px;
  transition: 500ms;
 /* background-color: aqua; */
 padding-top: 20px;
 overflow-y:initial; 
 overflow-x: hidden;
  
}

.str{
  margin-right: 40px;
  margin-top: 8px;
  width: 19px;
  height: 13px;
  padding-right: 40px;
}

.nav-menu-active{


}

.nav-text {
  display: flex;
  justify-content: start;
  /* align-items: center; */
  padding: 0px 0px 0px 0px;
  list-style: none;
  height: auto;
  width: 100%;
  font-family: OpenSans;
  color: rgba(219, 219, 219, 0.7);
  line-height: 1.5;
}

.nav-text a {
  text-decoration: none;
  color: rgba(219, 219, 219, 0.7);
  font-size: .875rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 0px;
  /* border-radius: 4px; */
  line-height: 2;
  font-family: OpenSans;
  font-weight: 100;

}

.nav-text a:hover {
  /* background-color: #293a4e; */
  color: rgb(208, 208, 208);
}

.nav-menu-items {
  width: 100%;
  margin: 0;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
}

.navbar-toggle {
  background-color: #222;

  width: 195px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border: solid 1px  rgba(95, 95, 95, 0.7);
  border-radius: 2px 2px 2px 2px;
  margin-top: 0px;
  margin-right: 25px;
  color: rgba(116, 116, 116, 0.7);
}

.navbar-toggleg {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
 width: 100%;

  padding-bottom: 20px;

}

.form{
width: 100%;
height: 100%;
/* background-color: aqua; */
display: flex;
}

.inp{
  box-sizing: border-box;
  width: 140px;
  border: none;
   /* padding-top: -10px; 
   margin-bottom: 10px; */
 
  font-family: OpenSans;
  background-color:#222;
  color: rgba(219, 219, 219, 0.8) ;
  font-size: 17px;
  padding-left: 5px;
  outline:none;

}

.search2 {
  background-color: #222;
  width: 23px;
  height: 23px;
  padding-top: 4px;
  margin-right: 5px;
}

span {
  /* margin-left: 16px; */
  margin: 0px;
}

@media screen and (max-width: 950px) {
  
  
  
.str2{
  width: 14px;
  height: 14px;
  color: #888787;
  padding-top: 8px;
  padding-right: 40px;
  }
  .obsh {
    width: 265px;
    padding-top: 0;
  }

  .nav-menu-items {
    width: 100%;
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
  }

  
.menu-bars2 {
  /* overflow-y: scroll; */
  color: #888787;
  margin-right: 40px; 
  padding-left: 0px;
  margin-top: 0px;
  /* background-color: aquamarine; */
}

.str{
  margin-right: 40px;
  margin-top: 8px;
  width: 20px;
  height: 13px;
  padding-right: 0px;
}

.search2 {
  background-color: #222;
  width: 23px;
  height: 23px;
  padding-top: 4px;
  margin-right: 5px;
}

}